* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #3d4b71;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 20px 30px;
    background-color: #023047;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
    margin: 0;
    display: inline-block;
}

header h3 {
    margin: 0;
}

header a {
    text-decoration: none;
    color: #fca148;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: right;
  list-style: none;
}
header nav ul li a {
    margin: 0 30px 0;
    font-weight: lighter;
    font-size: 22px;
}

/* section elements start */
section {
    padding: 60px;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: right;
  list-style: none;
}
/* form elements begins */
.form {
    background-color:#f3aa50;
    padding: 20px;
    width: 900px;
    color: #024e76;
    border-style: solid;
    border-width: 3px;
    border-color:#024e76;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form h3 {
    font-size: 24px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
}

form p {
    margin: 15px 0 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
}

.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: right;
  list-style: none;
}

.form label {
    margin: 0 5px;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: right;
  list-style: none;
}

.form button {
    color: #fca148;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.form button:hover {
    opacity: .8;
}
/* form element ends */

/* footer element begins */
footer {
    background: #3d4b71;
    width: 100%;
    padding: 40px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h2 {
    display: inline;
    color:#f3aa50;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color:#fca148
}
/* footer element ends */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20%;
        width: 100%;
        justify-content: center;
    }

    header nav li a {
        font-size: 20%;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .form h2 {
        flex: 1 100%;
        text-align: center;
    }

    .form-text {
        flex: 100%;
    }

    .form a {
        flex: 100%;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    section {
        padding: 30px 15px;
    }

    .form h2 {
        flex: 1 100%;
        text-align: center;
    }

    .form-text {
        flex: 100%;
    }
}
